{% extends baseLayoutCodeGenerator %}

{% block body %}
    {# HEADER #}
    <div id="page_heading" data-uk-sticky="{ top: 48, media: 960 }" class="user_heading md-card"
         style="margin-bottom: 15px;">
            <span class="uk-text-upper uk-text-small">
			<a href="#">Home /</a>
			<a href="{{ path('generator_index') }}">Liste des (préfix - table)</a>
		</span>
        <h1>Générateurs des codes - {{ codeGenerator.entityName }}</h1>
    </div>
    {# END HEADER #}

    {{ form_start(form) }}
        {{ include('@CodeMaker/generator/form.html.twig') }}
    {{ form_end(form) }}
{% endblock %}

{% block script %}
{{ include('@CodeMaker/generator/script.twig') }}
{% endblock %}
