{% extends baseLayoutCodeGenerator %}

{% block body %}
    <h1>Codegenerator</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ codeGenerator.id }}</td>
            </tr>
            <tr>
                <th>Entityname</th>
                <td>{{ codeGenerator.entityName }}</td>
            </tr>
            <tr>
                <th>Fullentityname</th>
                <td>{{ codeGenerator.fullEntityName }}</td>
            </tr>
            <tr>
                <th>Lastcode</th>
                <td>{{ codeGenerator.lastCode }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('codegenerator_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('codegenerator_edit', { 'id': codeGenerator.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
